.footer-area {
  background: #1C1C20;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #00b4d9;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #00b4d9;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #00b4d9;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #00b4d9;
}
